## Tarea 2 - 18 febrero 2025
03-01-Boston-Housing-Price-Prediction.ipynb
03-02-Multiple-Regression.ipynb
housing.data

## Tarea 3 - 25 febrero 2025
03-04-Regularized Regression.ipynb
03-05-Polynomial Regression.ipynb
Ejercicio - Regresión Polinomial.ipynb
# Dataset con la información del modelo de rendimiento de una inversión
GME_stock.csv
# Dataset con la información del modelo del precio de un automóvil
car.data
# Dataset con la información de las temperaturas
temps.csv
# Presentación exposición regresión logística
Regresión Logística - PradoDurán.pptx

#carpeta mlruns
mlruns